
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

.section-heading {
    margin: .5em;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.section-padding {
    padding: 3em 1em;
}

.btn-special-animation {
    position: relative;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    overflow: hidden;
    z-index: 0;
}

    .btn-special-animation::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        z-index: -1;
    }

    .btn-special-animation:hover::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

    .btn-special-animation:hover::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left;
    }

.btn-style {
    background-color: #42b7c0;
    border: 1px solid #9f069c;
    border-radius: 8px;
    font-weight: bold;
    -webkit-transition: background-color .3s, color .3s, border .3s;
    transition: background-color .3s, color .3s, border .3s;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

    .btn-style:focus {
        outline: none;
    }

    .btn-style:hover {
        background-color: #9f069c;
        color: #fff;
        border: 1px solid #42b7c0;
    }

.form-input {
    padding: .5em .5em;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

    .form-input:focus {
        outline: none;
        border: 1px solid #42b7c0;
    }

.form-label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1.8rem;
}

.form-button {
    padding: .7em 1em;
    background-color: #42b7c0;
    border: 1px solid #9f069c;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    -webkit-transition: background-color .3s, color .3s, border .3s;
    transition: background-color .3s, color .3s, border .3s;
    text-decoration: none;
    color: #000;
    text-align: center;
}

    .form-button:focus {
        outline: none;
    }

    .form-button:hover {
        background-color: #9f069c;
        color: #fff;
        border: 1px solid #42b7c0;
    }

.form-link {
    margin-top: .5em;
    font-size: 1.4rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@media (min-width: 768px) {
    .section-heading {
        font-size: 3rem;
    }

    .section-padding {
        padding: 6em 2em;
    }
}

@media (min-width: 992px) {
    .section-heading {
        font-size: 4rem;
    }

    .section-padding {
        padding: 10em 2em;
    }
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #eee;
    height: 100%;
}

.header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2em;
}

.header__box-logo {
    max-width: 95%;
    -ms-flex-item-align: center;
    /*-ms-grid-row-align: center;*/
    align-self: center;
}

.header__box-btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1em 0;
}

.header__box-btn {
    margin: .5em;
    padding: .5em 4em;
    background-color: #42b7c0;
    border: 1px solid #9f069c;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    -webkit-transition: background-color .3s, color .3s, border .3s;
    transition: background-color .3s, color .3s, border .3s;
    text-decoration: none;
    color: #000;
}

    .header__box-btn:focus {
        outline: none;
    }

    .header__box-btn:hover {
        background-color: #9f069c;
        color: #fff;
        border: 1px solid #42b7c0;
    }

.header__img {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("/img/main-sm.jpg");
    background-size: cover;
    background-position: center;
    -webkit-filter: contrast(150%);
    filter: contrast(150%);
}

.login {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2em 1em;
    padding-top: 1em;
    height: 100%;
}

.login__card--logo {
    max-width: 90vw;
}

.login__card--header {
    max-width: 85vw;
}

.login__card-forgot {
    font-size: 2.3rem;
}

.login__form {
    width: 100%;
}

.login__form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login__form-link {
    margin-top: .5em;
    font-size: 1.4rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.registration {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.registration__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2em 0;
}

.registration__card--logo {
    max-width: 85vw;
}

.registration__form {
    width: 100%;
    padding: 2em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.registration__form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2em;
}

.registration__form-checkbox {
    margin: 0.5em;
}

.registration__form-link {
    margin-top: .5em;
    font-size: 1.4rem;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.burger {
    position: absolute;
    top: 3%;
    left: -1px;
    padding: 8px 16px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    background-color: #42b7c0;
    border-radius: 0 8px 8px 0;
    border-top: 1px solid #9f069c;
    border-bottom: 1px solid #9f069c;
    border-right: 1px solid #9f069c;
    z-index: 11;
}

    .burger:focus {
        outline: none;
    }

.nav-shadow {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.nav {
    position: fixed;
    height: 100vh;
    width: 260px;
    left: -260px;
    background-color: #eee;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 5px solid #42b7c0;
    z-index: 10;
}

.nav__profile {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1em;
    margin-top: 3em;
}

.nav__profile-img {
    /*position: relaitve;*/
    height: 6em;
    width: 6em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.nav__profile-imgcover {
    width: 6.5em;
    height: 6.5em;
    background-color: royalblue;
    position: absolute;
    top: -0.25em;
    z-index: 0;
    border-radius: 50%;
    background: #f00ee6;
    background: -webkit-gradient(linear, left bottom, left top, from(#f00ee6), color-stop(35%, #42b7c0));
    background: linear-gradient(0deg, #f00ee6 0%, #42b7c0 35%);
}

.nav__profile-nickname {
    margin: 0.5em;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav__profile-edit {
    margin: .5em;
    padding: .5em 1.5em;
    font-size: 1.5rem;
    width: 100%;
}

.nav__menu {
    width: 80%;
    position: absolute;
    top: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1em;
}

.nav__menu-item {
    margin: .5em;
    padding: .5em 1.5em;
    font-size: 1.5rem;
    width: 100%;
}

.nav__menu-item-icon {
    margin-right: 5px;
}

.nav__logout {
    width: 80%;
    position: absolute;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1em;
    margin-top: 5em;
}

.nav__logout-item {
    margin: .5em;
    padding: .5em 1.5em;
    font-size: 1.5rem;
    width: 100%;
}

.nav::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 265px;
    border-right: 1px solid #9f069c;
}

.active {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
}

.activeMax {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
}

.hide {
    display: none;
}

.lock-scroll {
    overflow: hidden;
}

.background-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.main {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

.main__logo {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main__logo-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.main__buttons {
    margin-top: 3em;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main__buttons-btn {
    padding: 0.7em 2em;
    margin: 1em;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
}

.newfriendsUlText {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

.newfriends {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.newfriends__ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 3em;
    padding: 0;
    max-width: 650px;
}

.newfriends__ul-text {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

.newfriends__ul-li {
    width: 95%;
    height: 4.5em;
    padding: 0.3em;
    margin: 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: 1px solid #42b7c0;
    border-radius: 8px;
    background-color: #fff;
}

.friends {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0.5em;
}

.friends__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.friends__header-tools {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.friends__header-tools-addfriend {
    padding: 0.3em 0.6em;
    margin: 0.5em;
    width: 100%;
    max-width: 240px;
}

.friends__header-tools-findfriend {
    width: 100%;
    padding: 0.3em 0.6em;
    margin: 0.5em;
    border-radius: 8px;
    max-width: 520px;
}

    .friends__header-tools-findfriend:focus {
        outline: none;
        border: 2px solid #9f069c;
    }

.friends__ul {
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 3em;
    padding: 0;
    max-width: 650px;
}

.friends__ul-text {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.friends__ul-li {
    width: 95%;
    height: 4.5em;
    padding: 0.3em;
    margin: 0.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: 1px solid #42b7c0;
    border-radius: 8px;
    background-color: #fff;
}

.profile-photo {
    height: 3.5em;
    width: 3.5em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 1;
}

.profile-functions {
    width: 70%;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.friends-name {
    margin-bottom: 0.3em;
}

.friends-buttons {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.2em;
}

.friends-button {
    padding: 0.1em 1.4em;
}

.nofriends {
    display: block;
}

.modal-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 1em;
}

    .modal-input:focus {
        outline: none;
        border: 2px solid #9f069c;
    }

.modal-title {
    margin: .5em;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.addfriends__ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.addfriends__ul-text {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.addfriends-button {
    text-transform: uppercase;
    padding: 0.1em 2.5em;
}

.addfriends-name {
    margin-bottom: 0.3em;
    font-weight: bold;
}

.alert {
    position: fixed;
    width: 100%;
    animation: hideLoginInfo 0.3s forwards;
    animation-delay: 3s;
}

@-webkit-keyframes hideLoginInfo {
    to {
        height: -100px;
        font-size: 0px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
    }
}

@keyframes hideLoginInfo {
    to {
        height: -100px;
        font-size: 0px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
    }
}

@media (min-width: 576px) {
    .nav {
        width: 450px;
        left: -450px;
    }

        .nav::before {
            width: 455px;
        }

    .active {
        -webkit-transform: translateX(450px);
        transform: translateX(450px);
    }

    .newfriends__ul-li {
        width: 80%;
    }

    .friends__ul-li {
        width: 80%;
    }

    .profile-functions {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 80%;
    }

    .friends-buttons {
        width: 25%;
        max-width: 80px;
    }

    .friends-button {
        margin: 0.5em;
    }

    .friends-name {
        font-size: 1.8rem;
    }

    .modal-input {
        width: 80%;
        margin: 0 auto;
    }

    .addfriends-name {
        font-size: 1.5rem;
    }
}

@media (min-width: 450px) {
    .profile-functions {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 80%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .friends-name {
        margin-left: 35%;
        -webkit-transform: translateX(-35%);
        transform: translateX(-35%);
    }

    .friends-buttons {
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .friends-button {
        margin: 0.1em;
        width: 4.5em;
    }

    .addfriends-button {
        padding: 0.3em 1.5em;
    }

    .addfriends-name {
        margin-left: 30%;
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .header__img {
        background-image: url("/img/main-b.jpg");
    }

    .header__box-btns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .login__card-forgot {
        font-size: 3.5rem;
    }

    .nav {
        width: 550px;
        left: -550px;
    }

        .nav::before {
            width: 555px;
        }

    .active {
        -webkit-transform: translateX(550px);
        transform: translateX(550px);
    }

    .main__logo {
        width: 60%;
    }

    .main__logo-img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .main__buttons {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .header__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50%;
    }

    .header__box-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header__box-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: end;
    }

    .header__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
    }

    .header-btn {
        padding: 2em;
        font-size: 3rem;
    }

    .login {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main__logo {
        width: 40%;
    }

    .main__buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 60%;
    }
}
/*# sourceMappingURL=style.css.map */
