<div class="login">
    <div class="login__card">
        <a href="index.html">
            <img src="/img/logo.png" alt="logo" class="login__card--logo">
        </a>
        <h1 class="login__card--header section-heading">
            Nie kombinuj!
        </h1>
    </div>

</div>