<div class="login">
    <div class="login__card">
        <img src="/img/logo.png" alt="logo" class="login__card--logo">
        <h1 class="login__card--header section-heading login__card-forgot">Przypomnij hasło</h1>
        <form class="login__form">
            <div class="login__form-box">
                <label for="email" class="form-label">Podaj email:  </label>
                <input type="text" id="email" class="form-input">
            </div>
            <div class="login__form-buttons">
                <button type="submit" class="form-button">Wyślij</button>
                <a href="@Url.Action("Login", "Home")" class="form-link">Zaloguj</a>
                <a href="@Url.Action("Registration", "Home")" class="form-link">Nie masz konta?</a>
            </div>
        </form>
    </div>

</div>