@{
    ViewData["Title"] = "Home Page";
}
<partial name="_AlertPanel" /> 
<div class="header">
    <div class="header__img"></div>
    <div class="header__box">
    <a href="@Url.Action("Main", "Home")">
    
            <img src="/img/logo.png" alt="logo chatTogether" class="header__box-logo">
    </a>
            <div class="header__box-btns">
                <a href="@Url.Action("Login", "Home")" class="header__box-btn header__box-login">Logowanie</a>
                <a href="@Url.Action("Registration", "Home")" class="header__box-btn header__box-register">Rejestracja</a>
                @*<a href="@Url.Action("Main", "Home")" class="header__box-btn header__box-register">Rejestracja</a>*@
            </div>
    </div>
</div>







    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>