<div class="login">
    <div class="login__card">
        <img src="/img/logo.png" alt="logo" class="login__card--logo">
        <h1 class="login__card--header section-heading">Zaloguj się</h1>
        <form class="login__form">
            <div class="login__form-box">
                <label for="name">Nazwa użytkownika:  </label>
                <input type="text" id="name">
            </div>
            <div class="login__form-box">
                <label for="password">Hasło:  </label>
                <input type="password" id="password">
            </div>
            <div class="login__form-buttons">
                <button type="submit" class="login__form-btn">Zaloguj</button>
                <a href="forgotpassword.html" class="login__form-link">Zapomniałeś hasła?</a>
                <a href="registration.html" class="login__form-link">Nie masz konta?</a>
            </div>
        </form>
    </div>

</div>