@using Microsoft.AspNetCore.Http;

<!-- NAVIGATION  -->
<button class="burger">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times  hide"></i>
</button>

<div class="nav-shadow"></div>
<nav class="nav">
    <div class="nav__profile">
        <img src="/img/deafultphoto.jpg" alt="profile photo" class="nav__profile-img">
        <div class="nav__profile-imgcover"></div>
        <p class="nav__profile-nickname mb-0">@Context.Session.GetString("FullName")</p>
        <p class="nav__profile-nickname">(@Context.Session.GetString("NickName"))</p>
        <button href="#" class="nav__profile-edit btn-style"><i class="fas fa-user-edit nav__menu-item-icon"></i> Edytuj Profil</button>
    </div>

    <div class="nav__menu">
        <button href="#" class="nav__menu-item btn-style">
            <i class="fas fa-comment-dots nav__menu-item-icon"></i> Rozmowy
        </button>

        <button id="friends" class="nav__menu-item btn-style">
            <i class="fas fa-users nav__menu-item-icon"></i> Znajomi
        </button>
    </div>
    <div class="nav__logout">
        <button class="nav__logout-item btn-style" id="logOut">
            <i class="fas fa-sign-out-alt nav__menu-item-icon"></i> Wyloguj
        </button>
        <button class="nav__logout-item btn-style">
            <i class="fas fa-cog nav__menu-item-icon"></i> Ustawienia
        </button>
    </div>
</nav>

<main class="main">
    <div class="main__logo wrapper">
        <img src="/img/logo.png" alt="chattogether logo" class="main__logo-img">
    </div>
    <div class="main__buttons">
        <div class="main__buttons-btn btn-style"><i class="far fa-comments" style="margin-right: 5px;"></i> Rozpocznij chat</div>
        <div class="main__buttons-btn btn-style"><i class="fas fa-user-plus" style="margin-right: 5px;"></i> Dodaj Znajomego</div>

    </div>
</main>

<a id="logOutClick" hidden="hidden" href="@Url.Action("LogOut","Home")"></a>
<a id="friendClick" hidden="hidden" href="@Url.Action("Friends","Home")"></a>

