
<!-- NAVIGATION  -->

<button class="burger">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times  hide"></i>
</button>
<div class="nav-shadow"></div>
<nav class="nav">
    <div class="navprofile">
        <img src="img/deafultphoto.jpg" alt="profile photo" class="navprofile-img">
        <div class="navprofile-imgcover"></div>
        <p class="navprofile-nickname">Bartosz Adamczyk</p>
        <button href="#" class="navprofile-edit btn-style"><i class="fas fa-user-edit navmenu-item-icon"></i> Edytuj Profil</button>
    </div>

    <div class="navmenu">
        <button href="#" class="navmenu-item btn-style">
            <i class="fas fa-comment-dots navmenu-item-icon"></i> Rozmowy
        </button>

        <button href="#" class="navmenu-item btn-style">
            <i class="fas fa-users navmenu-item-icon"></i> Znajomi
        </button>
    </div>
    <div class="navlogout">
        <button href="#" class="navlogout-item btn-style">
            <i class="fas fa-sign-out-alt navmenu-item-icon"></i> Wyloguj
        </button>
        <button href="#" class="navlogout-item btn-style">
            <i class="fas fa-cog navmenu-item-icon"></i> Ustawienia
        </button>
    </div>
</nav>

<main class="main">
    <div class="mainlogo wrapper">
        <img src="/img/logo.png" alt="chattogether logo" class="mainlogo-img">
    </div>
    <div class="mainbuttons">
        <div class="mainbuttons-btn btn-style"><i class="far fa-comments" style="margin-right: 5px;"></i> Rozpocznij chat</div>
        <div class="main__buttons-btn btn-style"><i class="fas fa-user-plus" style="margin-right: 5px;"></i> Dodaj Znajomego</div>

    </div>
</main>