@model ChatTogether.Application.ViewModels.User.UserRegister;
<partial name="_AlertPanel" />
<div class="registration">
    <div class="registration__card">
        <img src="/img/logo.png" alt="logo" class="registration__card--logo">
        <h1 class="section-heading registration__card-header">Zarejestruj się</h1>
        <form asp-action="Registration" asp-controller="Home" method="post" class="registration__form">

            <div class="registration__form-box">
                <label for="nickname" class="form-label">Nazwa użytkownika:  </label>
                <input asp-for="Nickname" type="text" id="nickname" class="form-input"> @*podpiecie*@
                <span asp-validation-for="Nickname" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="name" class="form-label">Imię:  </label>
                <input asp-for="Name" type="text" id="name" class="form-input">@*podpiecie*@
                <span asp-validation-for="Name" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="surname" class="form-label">Nazwisko:  </label>
                <input asp-for="Surname" type="text" id="surname" class="form-input">  @*podpiecie*@
                <span asp-validation-for="Surname" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="password" class="form-label">Hasło:  </label>
                <input asp-for="EncryptedPassword" type="password" id="password" class="form-input">
                <span asp-validation-for="EncryptedPassword" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="password" class="form-label">Powtórz hasło:  </label>
                <input asp-for="ConfirmPassword" type="password" id="password" class="form-input">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="email" class="form-label">Email:   </label>
                <input asp-for="EmailAddress" type="email" id="email" class="form-input">
                <span asp-validation-for="EmailAddress" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="email" class="form-label">Powtórz email:   </label>
                <input asp-for="ConfirmEmailAddress" type="email" id="email" class="form-input">
                <span asp-validation-for="ConfirmEmailAddress" class="text-danger"></span> @*walidacja*@
            </div>
            <div class="registration__form-box">
                <label for="date" class="form-label">Data urodzenia:   </label>
                <input asp-for="DateOfBirth" type="date" id="date" class="form-input" value="DD.MM.RRRR">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span> @*walidacja*@
            </div>


            <div class="registration__form-checkboxes">
                <p>Wyrażam zgodę na:</p>
                <div>
                    <input asp-for="Policy" type="checkbox" id="regulamin">
                    <label for="regulamin">Regulamin</label>
                    <span asp-validation-for="Policy" class="text-danger"></span> @*walidacja*@
                </div>
                <div>
                    <input asp-for="Rodo" type="checkbox" id="horns">
                    <label for="horns">RODO</label>
                    <span asp-validation-for="Rodo" class="text-danger"></span> @*walidacja*@
                </div>
            </div>

            <div class="registration__form-buttons">
                <button type="submit" class="form-button">Zarejestruj</button>
                <a href="@Url.Action("Login", "Home")" class="registration__form-link">Masz już konto?</a>
            </div>

        </form>
    </div>

</div>