<div class="registration">
    <div class="registration__card">
        <img src="/img/logo.png" alt="logo" class="registration__card--logo">
        <h1 class="section-heading registration__card-header">Zarejestruj się</h1>
        <form class="registration__form">

            <div class="registration__form-box">
                <label for="name">Nazwa użytkownika:  </label>
                <input type="text" id="name">
            </div>

            <div class="registration__form-box">
                <label for="password">Hasło:  </label>
                <input type="password" id="password">
            </div>

            <div class="registration__form-box">
                <label for="password">Powtórz hasło:  </label>
                <input type="password" id="password">
            </div>

            <div class="registration__form-box">
                <label for="email">Email:   </label>
                <input type="email" id="email">
            </div>

            <div class="registration__form-box">
                <label for="email">Powtórz email:   </label>
                <input type="email" id="email">
            </div>

            <div class="registration__form-box">
                <label for="date">Data urodzenia:   </label>
                <input type="date" id="date">
            </div>


            <div class="registration__form-checkboxes">
                <p>Wyrażam zgodę na:</p>
                <div>
                    <input type="checkbox" id="horns" name="regulamin">
                    <label for="regulamin">Regulamin</label>
                </div>
                <div>
                    <input type="checkbox" id="horns" name="RODO">
                    <label for="horns">RODO</label>
                </div>
            </div>

            <div class="registration__form-buttons">
                <button type="submit" class="registration__form-btn">Zarejestruj</button>
                <a href="login.html" class="registration__form-link">Masz już konto?</a>
            </div>

        </form>
    </div>

</div>