<div class="login">
    <div class="login__card">
        <img src="/img/logo.png" alt="logo" class="login__card--logo">
        <h1 class="login__card--header section-heading login__card-forgot">Podaj nowe hasło: </h1>
        <form class="login__form">
            <div class="login__form-box">
                <label for="email" class="form-label">Podaj hasło:  </label>
                <input type="text" id="email" class="form-input">
            </div>
            <div class="login__form-box">
                <label for="email" class="form-label">Powtórz hasło:  </label>
                <input type="text" id="email" class="form-input">
            </div>
            <div class="login__form-buttons">
                <a href="login.html" class="form-button">Zatwierdź</a>
            </div>
        </form>
    </div>

</div>